@import './general';


.header{
    display: flex;
    flex-direction: column;

    &-div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .menu{
        height: 0;
        transition: all 1s  ease;
        overflow: hidden;
        width: 100%;
        background-color: blue;

        &-items{
            list-style: none;
        }
    
     
        &-item{
            padding: .4em;
        }
    
        &-links{
            list-style: none;
            color: white;
            padding: .3em;
            text-decoration:none;
        }  
    }

    &-text{
        margin: 1em;
    }

    &-parrafo{
        font-family: 'IBM Plex Mono', monospace;
        font-size: .9em;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
    &-logo{        
        width: 2em;
        height: 2em;
        margin-left: 5%;
        margin-top: 1em;
    
    }
}
.presentacion-parrafo-destok{
    display: none;
}

  #check{
    display: none;
  }

.label {
    margin: 1em 1em;
    min-width: 2em;
    min-height: 2em;
    border-radius: 0.2em;
    position: relative;
    box-shadow: 4px 4px 7px #b6b6b6, -4px -4px 7px #f6f6f6;
    
    &::before,
    &::after,
    &-span {
        content: "";
        width: 2em;
        height: 0.1em;
        position: absolute;
        background-color: $color;
        border-radius: 0.2em;
        transition: all 0.2s ease;
        padding-right: 0em;
    }

    &::before{
        top: .4em;
    }
    
    &-span{
        top: 50%;
        transform: translateY(-50%);
    }
    
    &::after{
        bottom: .4em;
    }

    #check:checked + .label &-span {
        background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
        box-shadow: 4px 4px 7px #b6b6b6, -4px -4px 7px #f6f6f6;
    }

    &:active{
        background: #d6d6d6;
        box-shadow: inset 4px 4px 7px #b6b6b6, inset -4px -4px 7px #f6f6f6;
        transform: scale(0.98);
    }

    #check:checked +  &::before,
    #check:checked + .label &-span,
    #check:checked +  &::after {
        background-color: black;
        transform-origin: center;
        top: 50%;
        transform: translateY(-50%);
    }

    #check:checked ~  &::before {
        transform: translateY(-50%) rotate(-45deg) scale(1.1);
        }
        #check:checked ~ &::after {
        transform: translateY(-50%) rotate(45deg) scale(1.1);
        }
        #check:checked + .label &-span {
        transform: rotateY(90deg);
        }
    
}

.header-div > #check:checked ~ .menu{
    height: 9em;
}

.presentacion{
    margin: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    color: #060A24;
    & .tittle{
        display: inline-block;
        margin: 0;
        padding-right: .5em;
    }
    & .tittle:nth-child(2){
        text-decoration: line-through;
    }
    & .tittle:nth-child(3){
        width: 100%;
    }
    

    &-parrafo{
        color: #060A24;
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .button{
     width: 100%;
     height: 3em;
     background-color: rgb(0, 243, 187);
     border: none;
     margin-top: 2em;
     }
}
   
@media screen and (min-width: 768px){

     .header-logo{
        width: 3.1em;
        height: 3.1em;
    }

    .header-div{
        display: flex;
        flex-flow: nowrap;
    }

    .label{
        display: none;
    }

    .menu{

        .header &{
            height: auto;
            position: relative;
            overflow: visible;
            width: 100%;
            background: #ffffff;
        } 

        &-items{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 3em;
            width: auto;
            height: 100%;
    
        }

        &-links{
            color: black;
        }

        &-items &-links{
            color: black;
            padding-right: 1em;
    
        }
        &-links:active{
            text-decoration: line-through;
            color: red;
        }               
        &-links:hover{
            color:#00F3BB;
            text-decoration: line-through;
        }
    }

    .presentacion-parrafo{
        display: none;
    }
   
    .presentacion{
        
        margin: 10% 30% 5% 10%;

        &-parrafo-destok{
            display: block;
            width: 30em;
            line-height: 1.5em;
        }
        & .tittle{
            font-size: 4em;
            display: inline;
            padding: 0;
        }

        & .button{
            width: 14em;
            height: auto;
            padding: 1em;
        }

    }
    
    
    

    
}
    


    
