.main{
  margin-top:1em ;
}
.container {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 85em;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.iframe{
  text-align: start;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  margin:0.5em 1em;
}

.mySVG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 50px;
}

.mySVG1 {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.img-div{
  display: flex;
  align-items: center;

  .phone-img{
    margin-top: -10em;
    width: 80%;
    height: auto;
    z-index: 100;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

  }

 

}

.sections-invitados{
  font-size: 0;
  &-img{
    height: auto;
    width: 100%;
    margin: 0 0 0 0;
  }
}

.section-img{
  display: flex;
  flex-direction: column;

  &-imgs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  &-img{
    width: 6em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
  }

  &-p{
    font-size: 1.5em;
  }
}

.section-novedades{
  position: relative;
  
  
  .novedades{
    background: blue;
    position: relative;
    height: 20em;
    padding-top: 5em;
  }

}






